.main{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-content: center;
}


@media screen and (min-width: 800px){

	body{
		background-color: lightblue;
	}

    .main{

        grid-template-columns: auto auto auto;
        column-gap: 50px;
    }

    .end_img{
        grid-area: 3 / 3 / span 1 / span 1;
    }

}


@media screen and (min-width: 1200px){

	body{
		background-color: lightcoral;
	}

    .main{

        grid-template-columns: auto auto auto auto;
        row-gap: 50px;
    }

    .end_img{
        grid-column: 1/span 1
    }
}