@media only screen {
    body {
        background-image: url("tUEdai.jpeg");
    }
    
    .main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 70%;
        margin-bottom: 50px;
    }
}


@media only screen and (min-width: 600px){
    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    
    img {
        width: 18%;
        margin: 30px 30px;  

    }
}

@media only screen and (min-width: 1000px){
    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    img {
        width: 17%;
        margin: 10px 10px;  
    }
}